*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
}

/* Layout */
  

body {
  background-color: red;
  color: #fff;
}


#app {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

/* Header */
h1 {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 400;
}


/* Input */

.add-element {
  width: 100%;
  height: 45px;
  line-height: 45px;
  margin-bottom: 40px;
  padding: 0 15px;
  font-size: 16px;
  background: rgba(255, 255, 255, .75);
  border: 0;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, .4);
  outline: none;
  transition: background .4s;
}

.add-element:hover,
.add-element:focus {
  background: #fff;
}

.template {
  display: none;
}

.todo li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.todo li:last-child{
  border-bottom: 0;
}


.todo li.completed{
  text-decoration: line-through;
}

.todo li i {
  opacity: 0.5;
  transition: opacity .4s;
  cursor: pointer;
}

.todo li i:hover {
  opacity: 1;
}


